@import "../../../css-config/mixins.scss";

$border1: 2px solid red;

.hero-banner {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: white;
    padding: 40px 0;
    height: calc(100vh - 80px);
    @include sm {
        height: auto;
    }

    .content {
        height: 100%;
        min-width: 375px;
        max-width: 900px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        // border: 2px solid black;
        position: relative;

        @include sm {
            flex-direction: column-reverse;
        }
        @include md {
            flex-direction: column-reverse;
            max-width: 100%;
            justify-content: center;
        }
        .text-content {
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border: $border1;
            height: min-content;

            h1 {
                font-size: 10rem;
            }
            p {
                font-size: 1.4rem;
                width: 30rem;
                padding: 1rem;
            }
            .ctas {
                margin-top: 5rem;
                display: flex;
                justify-content: center;
                gap: 10px;

                .banner-ctas {
                    display: flex;
                    border: 1px solid white;
                    max-width: 10rem;
                    padding: 7px;
                    font-size: 1rem;
                    font-weight: 500;
                }
                .v2 {
                    background-color: white;
                    color: black;
                    // border: 1px solid black;
                }
            }
        }
    }
    .img {
        height: 100%;
        position: relative;
        width: 300px;
        @include sm {
            height: 60%;
            width: 50%;
        }
        @include md {
            height: 60%;
            width: 50%;
        }
        img {
            height: 100%;
            width: 100%;
            // position: relative;
            // right: -35px;
            // display: flex;
            // align-items: center;
            // border: $border1;
            @include sm {
                right: 35px;
            }
            @include sm {
                right: 35px;
            }
        }
    }
}
